.leftbackground {
    top: 0;
    left: 0;
    position: absolute;
    width: 58.333333%;
    height: 100%;
    background-color: #c0c0c0;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('/background/login-left.png');  
    background-size: cover; 
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.purple {
    color: #373173;
}

.titletext {
    font-family: Montserrat;
    font-weight: bold;
}

.rightbackground {
    top: 0;
    right: 0;
    position: absolute;
    width: 41.666667%;
    height: 100%;
    z-index: -1;
}

.header {
    font-family: Montserrat;
    font-size: 4vh;
    font-weight: bold;
    color: #373173;
    text-align: center;
}

.registerFieldName {
    display: inline-block;
    margin: 1.5em 0 0.25em 0;
    font-family: Montserrat;
}

.submitbutton {
    width: 100%;
    color: #fff;
    background: #373173 0% 0% no-repeat padding-box;
    margin-top: 1.5em;
    border-radius: 8px;
    font-family: Poppins;
    font-weight: bold;
    padding: 14px 0;
    text-transform: uppercase;
}

.submitbutton:disabled {
    background: #a0a0a0;
}

.invalidinput {
    font-family: Montserrat;
    color: red;
}

.message {
    margin-top: 0.25rem;
}

.message > p {
    margin-bottom: 0;
}

.formInput {
    font-family: Montserrat;
    display: block;
    width: 100%;
    border: 1px solid #C4C4C4;
    border-radius: 8px;
    padding: 8px;
}

.invalidinput {
    font-family: Montserrat;
    color: red;
}

.forgotPasswordSend {
    font-family: Montserrat;
}

@media screen and (max-width: 992px) {
    .leftbackground {
        display: none;
    }

    .rightbackground {
        display: none;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .hiddenColumn {
        display: none;
    }
}